<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JointVentureEditDlg" widgetVar="JointVentureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditJointVentureTitle}">
            <h:form id="JointVentureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jvController.selected != null}">
                        <p:outputLabel value="Equity Type" for="equityType" />
                        <p:selectOneMenu id="equityType" value="#{jvController.selected.equityType}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{equityTypeController.itemsAvailableSelectOne}"
                                           var="equityTypeItem"
                                           itemValue="#{equityTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Title" for="title" />
                        <p:inputText id="title" value="#{jvController.selected.title}" title="#{bundle.EditJointVentureTitle_title}" />
                        <p:outputLabel value="Operator" for="operator" />
                        <p:selectOneMenu id="operator" value="#{jvController.selected.operator}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{companyController.itemsAvailableSelectOne}"
                                           var="operatorItem"
                                           itemValue="#{operatorItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{jvController.update}" value="#{bundle.Save}" update="display,:JointVentureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'JointVentureEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="JointVentureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
