<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="Joint Venture List"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">Joint Venture</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="JOINT VENTURE"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_jv-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="jvListForm"> 
                <!-- Multi Column -->
                <div jsf:id="jvPanel" class="row">
                    <div class="col-md-9 m-b-9">
                        <h:dataTable id="jvTable" var="jv" value="#{jvController.jvItems}" 
                                     class="table table-bordered table-hover tile">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.JointVentureListTitle}"/>
                                </f:facet>
                                <h:outputText value="#{jv.title}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.Operator}"/>
                                </f:facet>
                                <h:outputText value="#{jv.operator.name}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.EquityType}"/>
                                </f:facet>
                                <h:outputText value="#{jv.equityType.description}"/>
                            </h:column>
                            <h:column>
                                <div class="btn-group">
                                    <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" jsf:id="btnList">
                                        <li>
                                            <h:commandLink  pt:data-target="#JvCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                                <span class="icon">&#61943;</span>
                                                #{bundle.Create}
                                                <f:ajax event="click" render="JvCreateForm" listener="#{jvController.prepareCreate}" />
                                            </h:commandLink>                                       
                                        </li>

                                        <li>
                                            <h:commandLink pt:data-target="#JvViewDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61698;</span>
                                                #{bundle.View}
                                                <f:ajax event="click" render="JvViewForm" listener="#{jvController.setSelected(jv)}"/>
                                            </h:commandLink>
                                        </li>
                                        <li><h:commandLink pt:data-target="#JvEditDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61952;</span>
                                                #{bundle.Edit}
                                                <f:ajax event="click" render="JvEditForm" listener="#{jvController.setSelected(jv)}"/>
                                            </h:commandLink>
                                        </li>  
                                        <li>
                                            <h:commandLink>
                                                <span class="icon">&#61918;</span>
                                                #{bundle.Delete}
                                                <f:ajax render="jvListForm jvTable msgs" listener="#{jvController.destroy(jv)}"/>
                                            </h:commandLink>
                                        </li> 
                                         <li>
                                            <h:commandLink pt:data-target="#AssetCreateDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61918;</span>
                                                Add Contract                                                
                                                <f:ajax listener="#{contractController.addContractFiscalArrangement(jv)}" render="AssetCreateDlg AssetCreateForm contractCreateFiscalTitle" />
                                            </h:commandLink>
                                        </li> 
                                        <li>
                                            <h:commandLink pt:data-target="#AssetListDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61918;</span>
                                                View Contracts                                                
                                                <f:ajax listener="#{fiscalController.setCurrentFiscal(jv)}" render="AssetListDlg AssetListForm contractListFiscalTitle" />
                                            </h:commandLink>
                                        </li> 
                                    </ul>
                                </div>
                            </h:column>

                            <f:facet name="footer">                                                                
                                <button jsf:id="createButton" look="warning" data-target="#JvCreateDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61943;</span>
                                    #{bundle.Create}
                                    <f:ajax event="click" render="JvCreateForm" listener="#{jvController.prepareCreate}" />                                    
                                </button>

                                <button jsf:id="viewButton" look="warning" data-target="#JvViewDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61698;</span>
                                    #{bundle.View}
                                    <f:ajax event="click" render="JvViewForm" />
                                </button>
                                <button jsf:id="editButton" look="warning" data-target="#JvEditDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61952;</span>                                    
                                    #{bundle.Edit}
                                    <f:ajax event="click" render="JvEditForm" />
                                </button>

                                <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty jvController.selected}">
                                    <span class="icon">&#61918;</span>
                                    #{bundle.Delete}
                                    <f:ajax render="jvTable" listener="#{jvController.destroy}"/>
                                </button>

                            </f:facet>
                        </h:dataTable>
                    </div>
                </div>
            </h:form>
            <ui:include src="_jv-create.xhtml"/>           
            <ui:include src="_jv-edit.xhtml"/>
            <ui:include src="_jv-view.xhtml"/>
            <ui:include src="_jv-contract-create.xhtml"/>
            <ui:include src="_jv-contract-list.xhtml"/>
        </ui:define>

        <!--        <ui:define name="page-stat"> 
                    <ui:include src="_jv-stat.xhtml"/>
                </ui:define>-->

    </ui:composition>



</html>
