<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="JointVentureViewDlg" widgetVar="JointVentureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJointVentureTitle}">
            <h:form id="JointVentureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{jvController.selected != null}">
                        <h:outputText value="#{bundle.ViewJointVentureLabel_equityType}"/>
                        <h:outputText value="#{jvController.selected.equityType}" title="#{bundle.ViewJointVentureTitle_equityType}"/>
                        <h:outputText value="#{bundle.ViewJointVentureLabel_title}"/>
                        <h:outputText value="#{jvController.selected.title}" title="#{bundle.ViewJointVentureTitle_title}"/>
                        <h:outputText value="#{bundle.ViewJointVentureLabel_operator}"/>
                        <h:outputText value="#{jvController.selected.operator}" title="#{bundle.ViewJointVentureTitle_operator}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="JointVentureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
