<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>
        <div class="modal fade" id="CaContractEditDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit JV Carry Contract</h4>
                    </div>
                    <h:form id="CaContractEditForm">
                        <div class="modal-body">
                            <h:panelGroup id="CaContractEditPanel" rendered="#{contractController.selected != null}">
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Fiscal Arrg" for="fiscalArrangement" />
                                        <h:selectOneMenu id="fiscalArrangement" value="#{contractController.selected.fiscalArrangement}" class="form-control input-sm m-b-10">
                                            <f:selectItems value="#{fiscalController.fiscalSelectOptions}"
                                                           var="fiscalArrangementItem"
                                                           itemValue="#{fiscalArrangementItem}"/>
                                            <f:ajax />
                                        </h:selectOneMenu> 

                                        <h:outputLabel value="Crude Type" for="crudeType" />
                                        <h:selectOneMenu id="crudeType" value="#{contractController.selected.crudeType}" class="form-control input-sm m-b-10">
                                            <f:selectItems value="#{crudeTypeController.itemsAvailableSelectOne}"
                                                           var="crudeTypeItem"
                                                           itemValue="#{crudeTypeItem}"/>
                                            <f:ajax />
                                        </h:selectOneMenu>                                                                                                                  
                                    </div>
                                </div>
                            </h:panelGroup>

                        </div>
                        <div class="modal-footer">
                            <h:commandButton value="#{bundle.Save}" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{contractController.update}" render="assetListForm assetTable msgs"/>
                            </h:commandButton>
                            <h:commandButton value="#{bundle.Cancel}" immediate="true" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{contractController.cancel}" render="assetListForm assetTable msgs"/>
                            </h:commandButton>
                        </div>
                    </h:form>
                </div>
            </div>
        </div> 

    </ui:composition>
</html>
