<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="JV Contracts"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">JV Contracts</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="JV CONTRACTS"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_asset-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="assetListForm"> 
                <!-- Multi Column -->
                <div jsf:id="assetPanel" class="row">
                    <div class="col-md-9 m-b-9">
                        <h:dataTable id="assetTable" var="asset" value="#{contractController.items}" 
                                     class="table table-bordered table-hover tile">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.FiscalArrangement}"/>
                                </f:facet>
                                <h:outputText value="#{asset.fiscalArrangement.title}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.CrudeType}"/>
                                </f:facet>
                                <h:outputText value="#{asset.crudeType.crudeType}(#{asset.crudeType.code})"/>
                            </h:column>

                            <h:column>
                                <div class="btn-group">
                                    <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" jsf:id="btnList">
                                        <li>
                                            <h:commandLink  pt:data-target="#AssetCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                                <span class="icon">&#61943;</span>
                                                #{bundle.Create}
                                                <f:ajax event="click" render="AssetCreateForm" listener="#{contractController.prepareCreate}" />
                                            </h:commandLink>                                       
                                        </li>

                                        <li>
                                            <h:commandLink pt:data-target="#AssetViewDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61698;</span>
                                                #{bundle.View}
                                                <f:ajax event="click" render="AssetViewForm" listener="#{contractController.setSelected(asset)}"/>
                                            </h:commandLink>
                                        </li>
                                        <li><h:commandLink pt:data-target="#AssetEditDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61952;</span>
                                                #{bundle.Edit}
                                                <f:ajax event="click" render="AssetEditForm" listener="#{contractController.setSelected(asset)}"/>
                                            </h:commandLink>
                                        </li>  
                                        <li>
                                            <h:commandLink>
                                                <span class="icon">&#61918;</span>
                                                #{bundle.Delete}
                                                <f:ajax render="assetListForm assetTable msgs" listener="#{contractController.destroy(asset)}"/>
                                            </h:commandLink>
                                        </li> 
                                    </ul>
                                </div>
                            </h:column>

                            <f:facet name="footer">                                                                
                                <button jsf:id="createButton" look="warning" data-target="#AssetCreateDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61943;</span>
                                    #{bundle.Create}
                                    <f:ajax event="click" render="AssetCreateForm" listener="#{contractController.prepareCreate}" />                                    
                                </button>

                                <button jsf:id="viewButton" look="warning" data-target="#AssetViewDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61698;</span>
                                    #{bundle.View}
                                    <f:ajax event="click" render="AssetViewForm" />
                                </button>
                                <button jsf:id="editButton" look="warning" data-target="#AssetEditDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61952;</span>                                    
                                    #{bundle.Edit}
                                    <f:ajax event="click" render="AssetEditForm" />
                                </button>

                                <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty contractController.selected}">
                                    <span class="icon">&#61918;</span>
                                    #{bundle.Delete}
                                    <f:ajax render="assetTable" listener="#{contractController.destroy}"/>
                                </button>

                            </f:facet>
                        </h:dataTable>
                    </div>
                </div>
            </h:form>
            <ui:include src="_asset-create.xhtml"/>           
            <ui:include src="_asset-edit.xhtml"/>
            <ui:include src="_asset-view.xhtml"/>
        </ui:define>

        <!--        <ui:define name="page-stat"> 
                    <ui:include src="_asset-stat.xhtml"/>
                </ui:define>-->

    </ui:composition>



</html>
