<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="JV Contracts"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">JV Contracts</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="JV CONTRACTS"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_asset-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="assetListForm"> 
                <h:panelGroup id="AssetViewPanel" rendered="#{contractController.selected != null}">
                    <div class="row">
                        <div class="col-md-6 m-b-15">
                            <h:outputLabel value="Fiscal Arrg" for="fiscalArrangement" />
                            <h:selectOneMenu id="fiscalArrangement" value="#{contractController.selected.fiscalArrangement}" class="form-control input-sm m-b-10">
                                <f:selectItems value="#{fiscalController.fiscalSelectOptions}"
                                               var="fiscalArrangementItem"
                                               itemValue="#{fiscalArrangementItem}"/>
                                <f:ajax />
                            </h:selectOneMenu> 

                            <h:outputLabel value="Crude Type" for="crudeType" />
                            <h:selectOneMenu id="crudeType" value="#{contractController.selected.crudeType}" class="form-control input-sm m-b-10">
                                <f:selectItems value="#{crudeTypeController.itemsAvailableSelectOne}"
                                               var="crudeTypeItem"
                                               itemValue="#{crudeTypeItem}"/>
                                <f:ajax />
                            </h:selectOneMenu>                                                                                                                  
                        </div>
                    </div>
                </h:panelGroup>
            </h:form>
            <ui:include src="_asset-create.xhtml"/>           
            <ui:include src="_asset-edit.xhtml"/>
            <ui:include src="_asset-view.xhtml"/>
        </ui:define>

        <!--        <ui:define name="page-stat"> 
                    <ui:include src="_asset-stat.xhtml"/>
                </ui:define>-->

    </ui:composition>



</html>
