<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContractStreamEditDlg" widgetVar="ContractStreamEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContractStreamTitle}">
            <h:form id="ContractStreamEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contractController.selected != null}">
                        <p:outputLabel value="Crude Type" for="crudeType" />
                        <p:selectOneMenu id="crudeType" value="#{contractController.selected.crudeType}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{crudeTypeController.itemsAvailableSelectOne}"
                                           var="crudeTypeItem"
                                           itemValue="#{crudeTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Fiscal Arrg" for="fiscalArrangement" />
                        <p:selectOneMenu id="fiscalArrangement" value="#{contractController.selected.fiscalArrangement}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{fiscalController.fiscalSelectOptions}"
                                           var="fiscalArrangementItem"
                                           itemValue="#{fiscalArrangementItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contractController.update}" value="#{bundle.Save}" update="display,:ContractStreamListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContractStreamEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContractStreamEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
