<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContractStreamViewDlg" widgetVar="ContractStreamViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContractStreamTitle}">
            <h:form id="ContractStreamViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contractController.selected != null}">
                        <h:outputText value="#{bundle.ViewContractStreamLabel_id}"/>
                        <h:outputText value="#{contractController.selected.id}" title="#{bundle.ViewContractStreamTitle_id}"/>
                        <h:outputText value="#{bundle.ViewContractStreamLabel_crudeType}"/>
                        <h:outputText value="#{contractController.selected.crudeType}" title="#{bundle.ViewContractStreamTitle_crudeType}"/>
                        <h:outputText value="#{bundle.ViewContractStreamLabel_fiscalArrangement}"/>
                        <h:outputText value="#{contractController.selected.fiscalArrangement}" title="#{bundle.ViewContractStreamTitle_fiscalArrangement}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContractStreamViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
