<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CrudeTypeCreateDlg" widgetVar="CrudeTypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCrudeTypeTitle}">
            <h:form id="CrudeTypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{crudeTypeController.selected != null}">
                        <p:outputLabel value="#{bundle.CrudeTypeCode}" for="code" />
                        <p:inputText id="code" value="#{crudeTypeController.selected.code}" title="#{bundle.CreateCrudeTypeTitle_code}" />
                        <p:outputLabel value="#{bundle.CrudeType}" for="crudeType" />
                        <p:inputText id="crudeType" value="#{crudeTypeController.selected.crudeType}" title="#{bundle.CreateCrudeTypeTitle_crudeType}" />
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{crudeTypeController.create}" value="#{bundle.Save}" update="display,:CrudeTypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'CrudeTypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CrudeTypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
