<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CrudeTypeViewDlg" widgetVar="CrudeTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCrudeTypeTitle}">
            <h:form id="CrudeTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{crudeTypeController.selected != null}">
                        <h:outputText value="#{bundle.CrudeTypeCode}"/>
                        <h:outputText value="#{crudeTypeController.selected.code}" title="#{bundle.ViewCrudeTypeTitle_code}"/>
                        <h:outputText value="#{bundle.CrudeType}"/>
                        <h:outputText value="#{crudeTypeController.selected.crudeType}" title="#{bundle.ViewCrudeTypeTitle_crudeType}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CrudeTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
