<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>

        <p:dialog id="JvActualizeViewDlg" widgetVar="JvActualizeViewDlg" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewJvActualProductionTitle}">
            <h:form id="JvActualizeViewForm">
                <p:panelGrid id="display" rendered="#{jvActualController.currentProduction != null}" style="border: 0">
                    <p:panelGrid style="border: 0">
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Year" for="periodYear"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:inputText id="periodYear" value="#{jvActualController.currentProduction.periodYear}" class="select" disabled="true"/>                                              
                            </p:column>
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Month" for="periodMonth"/>                                
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="periodMonth" value="#{jvActualController.currentProduction.periodMonth}" class="select" disabled="true">                                              
                                    <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                    <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                                    <p:ajax />     
                                </p:selectOneMenu>                                
                            </p:column>
                        </p:row>
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <h:outputText value="Contract"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="contract" value="#{jvActualController.currentFiscalArrangement}" class="select" disabled="true">                                              
                                    <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />  
                                </p:selectOneMenu>                                
                            </p:column>
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Crude Type" for="csOptions"/>                                                      
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="csOptions" value="#{jvActualController.currentProduction.contractStream}" class="select" disabled="true">
                                    <f:selectItems value="#{jvActualController.contractStreamSelectOne}"/>
                                </p:selectOneMenu>                             
                            </p:column>
                        </p:row>
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Gross Prod" for="grossProd"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:inputText id="grossProd" value = "#{jvActualController.currentProduction.grossProduction}"  class="form-control input-sm m-b-10" pt:placeholder="Gross Production" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>

                    <p:fieldset legend="NNPC Entitlement">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Entitlement" for="ownShareEntitlement" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ownShareEntitlement" value="#{jvActualController.currentProduction.ownShareEntitlement}" title="Own Entitlement" disabled="true">
                                    <f:convertNumber maxFractionDigits="2" groupingUsed="true" />
                                </p:inputText>
                            </div>                            
                        </div>   

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Opening Stock" for="openingStock" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="openingStock" value="#{jvActualController.currentProduction.openingStock}" title="Opening Stock" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />                                   
                                </p:inputText>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Stock Adjustment" for="stockAdjustment" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="stockAdjustment" value="#{jvActualController.currentProduction.stockAdjustment}" title="Stock Adjustment" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />                                    
                                </p:inputText>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Availability" for="availability" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="availability" value="#{jvActualController.currentProduction.availability}" title="Availability" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>  
                            </div>  
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Lifting (Actual)" for="lifting" />                                           
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="lifting" value="#{jvActualController.currentProduction.lifting}" title="Lifting (Actual)" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Cargoes" for="cargoes" />                    
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="cargoes" value="#{jvActualController.currentProduction.cargos}" title="Lifting Cargoes" disabled="true"/>
                            </div> 
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Closing Stock" for="closingStock" />                                                        
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="closingStock" value="#{jvActualController.currentProduction.closingStock}" title="Closing Stock" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>                                            
                            </div>
                        </div>
                    </p:fieldset> 
                    <br/>
                    <p:fieldset legend="Partner Entitlement">

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Entitlement" for="ptnrShareEntitlement" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrShareEntitlement" value="#{jvActualController.currentProduction.partnerShareEntitlement}" title="Partner Entitlement" disabled="true" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>                            
                        </div>                        
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Opening Stock" for="ptnrOpeningStock" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrOpeningStock" value="#{jvActualController.currentProduction.partnerOpeningStock}" title="Opening Stock" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Stock Adjustment" for="ptnrStockAdj" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrStockAdj" value="#{jvActualController.currentProduction.partnerStockAdjustment}" title="Partner Stock Adjustment" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />                                    
                                </p:inputText>
                            </div>                            
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Availability" for="ptnrAvailability" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrAvailability" value="#{jvActualController.currentProduction.partnerAvailability}" title="Availability" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>  
                            </div> 
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Lifting (Actual)" for="ptnrLifting" />
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="ptnrLifting" value="#{jvActualController.currentProduction.partnerLifting}" title="Lifting (Actual)"
                                             disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />                                   
                                </p:inputText>
                            </div>
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Cargoes" for="ptnrCargoes" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrCargoes" value="#{jvActualController.currentProduction.partnerCargos}" title="Lifting Cargoes" disabled="true"/>
                            </div> 
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Closing Stock" for="ptnrClosingStock" />
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="ptnrClosingStock" value="#{jvActualController.currentProduction.partnerClosingStock}" title="Closing Stock" disabled="true">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>                                           
                            </div>
                        </div>
                    </p:fieldset>

                </p:panelGrid>
                <p:commandButton value="#{bundle.Close}" onclick="JvActualizeViewDlg.hide()"/>

            </h:form>
        </p:dialog>

    </ui:composition>
</html>
