<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>
        <p:dialog id="JvCreateDlg" widgetVar="JvCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateJvForecastTitle}">
            <h:form id="JvCreateForm" style="border: 0">
                <p:panelGrid id="display" rendered="#{jvProdController.currentProduction != null}" style="border: 0">
                    <p:panelGrid style="border: 0">
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Year" for="periodYear"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="periodYear" value="#{jvProdController.currentProduction.periodYear}" class="select" >                                              
                                    <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                                    <p:ajax listener="#{generalController.yearChanged}" event="change" update="periodMonth"/>     
                                </p:selectOneMenu>
                            </p:column>
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Month" for="periodMonth"/>                                
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="periodMonth" value="#{jvProdController.currentProduction.periodMonth}" class="select">                                              
                                    <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                    <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                                    <p:ajax />     
                                </p:selectOneMenu>                                
                            </p:column>
                        </p:row>
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <h:outputText value="Contract"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="contract" value="#{jvProdController.currentFiscalArrangement}" class="select">                                              
                                    <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />   
                                    <p:ajax event="change" update="csOptions"/>     
                                </p:selectOneMenu>                                
                            </p:column>
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Crude Type" for="csOptions"/>                                                      
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:selectOneMenu id="csOptions" value="#{jvProdController.currentProduction.contractStream}" class="select" >
                                    <f:selectItems value="#{jvProdController.contractStreamSelectOne}"/>
                                    <p:ajax/>
                                </p:selectOneMenu>                             
                            </p:column>
                        </p:row>
                        <p:row style="border: 0">
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Daily Prod (bpd)" for="dailyProd"/>                            
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:inputText id="dailyProd" value = "#{jvProdController.currentProduction.productionVolume}"  class="form-control input-sm m-b-10" pt:placeholder="Gross Production"
                                             >
                                    <p:ajax event="change" listener="#{jvProdController.productionVolumeChanged}"  
                                            update="grossProd openingStock ownShareEntitlement  closingStock lifting cargoes availability ptnrOpeningStock ptnrShareEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                                            />
                                </p:inputText>
                            </p:column>
                            <p:column colspan="2" style="border: 0">
                                <p:outputLabel value="Gross Prod" for="grossProd"/>
                            </p:column>
                            <p:column colspan="4" style="border: 0">
                                <p:inputText id="grossProd" value = "#{jvProdController.currentProduction.grossProduction}"  class="form-control input-sm m-b-10" pt:placeholder="Gross Production">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>

                    <p:fieldset legend="NNPC Entitlement">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Entitlement" for="ownShareEntitlement" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ownShareEntitlement" value="#{jvProdController.currentProduction.ownShareEntitlement}" title="Own Entitlement" >
                                    <f:convertNumber maxFractionDigits="2" groupingUsed="true" />
                                </p:inputText>
                            </div>

                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Opening Stock" for="openingStock" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="openingStock" value="#{jvProdController.currentProduction.openingStock}" title="Opening Stock" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                    <p:ajax event="change" listener="#{jvProdController.openingStockChanged}"  
                                            update="ownShareEntitlement  closingStock lifting cargoes availability ptnrOpeningStock ptnrShareEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                                            />
                                </p:inputText>
                            </div>
                        </div>                                    

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Availability" for="availability" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="availability" value="#{jvProdController.currentProduction.availability}" title="Availability">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>  
                            </div>                                    
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Lifting (Nom)" for="lifting" />                                           
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="lifting" value="#{jvProdController.currentProduction.lifting}" title="Lifting (Nom)">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Cargoes" for="cargoes" />                    
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="cargoes" value="#{jvProdController.currentProduction.cargos}" title="Lifting Cargoes" />
                            </div>                                    
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Closing Stock" for="closingStock" />                                                        
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="closingStock" value="#{jvProdController.currentProduction.closingStock}" title="Closing Stock" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>                                            
                            </div>
                        </div>
                    </p:fieldset> 
                    <br/>
                    <p:fieldset legend="Partner Entitlement">

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Entitlement" for="ptnrShareEntitlement" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrShareEntitlement" value="#{jvProdController.currentProduction.partnerShareEntitlement}" title="Partner Entitlement" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>

                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Opening Stock" for="ptnrOpeningStock" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrOpeningStock" value="#{jvProdController.currentProduction.partnerOpeningStock}" title="Opening Stock" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                    <p:ajax event="change" listener="#{jvProdController.openingStockChanged}"  
                                            update="ownShareEntitlement  closingStock lifting cargoes availability ptnrOpeningStock ptnrShareEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                                            />
                                </p:inputText>
                            </div>
                        </div>                        
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Availability" for="ptnrAvailability" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrAvailability" value="#{jvProdController.currentProduction.partnerAvailability}" title="Availability">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>  
                            </div>                                    
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Lifting (Nom)" for="ptnrLifting" />
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="ptnrLifting" value="#{jvProdController.currentProduction.partnerLifting}" title="Lifting (Nom)">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Cargoes" for="ptnrCargoes" />
                            </div>
                            <div class="ui-grid-col-4">
                                <p:inputText id="ptnrCargoes" value="#{jvProdController.currentProduction.partnerCargos}" title="Lifting Cargoes" />
                            </div>                                    
                            <div class="ui-grid-col-2">
                                <p:outputLabel value="Closing Stock" for="ptnrClosingStock" />
                            </div>
                            <div class="ui-grid-col-4">                                            
                                <p:inputText id="ptnrClosingStock" value="#{jvProdController.currentProduction.partnerClosingStock}" title="Closing Stock" >
                                    <f:convertNumber pattern="###,###,###.####" />
                                </p:inputText>                                           
                            </div>
                        </div>
                    </p:fieldset>

                </p:panelGrid>
                <p:commandButton actionListener="#{jvProdController.create}" value="#{bundle.Save}" update="display,:jvProdListForm:prodTable,:growl" oncomplete="handleSubmit(args,'JvCreateDialog');"/>
                <p:commandButton actionListener="#{jvProdController.cancel}" value="#{bundle.Cancel}" update="display,:jvProdListForm:prodTable,:growl" onclick="JvCreateDialog.hide()" immediate="true"/>
                <p:commandButton value="Reset">                    
                    <p:ajax event="click" listener="#{jvProdController.resetDefaults}"  
                            update="grossProd openingStock ownShareEntitlement  closingStock lifting cargoes availability ptnrOpeningStock ptnrShareEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                            />
                </p:commandButton>

            </h:form>
        </p:dialog>

    </ui:composition>
</html>
