<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="COSM::Entitlement::JV Actualization"></h:outputText>
        </ui:define>

        <ui:define name="breadcrum">
            <p:breadCrumb style="border: 0;">
                <p:menuitem value="#{bundle.Home}" url="/faces/index.xhtml" icon="ui-icon-home"/>
                <p:menuitem value="Joint Venture" url="/faces/jv/prod/forecast.xhtml" />
                <p:menuitem value="Actualize" disabled="true" />
            </p:breadCrumb>
        </ui:define>

        <ui:define name="body">
            <div class="row">                
                <h:form id="jvProdListForm">
                    <p:growl id="msgs" showDetail="false" />

                    <p:panelGrid id="ActualParamPanel" columns="2">
                        <h:outputText value="Year"/>
                        <p:selectOneMenu id="periodYear" value="#{jvActualController.periodYear}" class="select" >                                              
                            <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                            <p:ajax listener="#{generalController.yearChanged}" event="change" update="periodMonth"/>     
                        </p:selectOneMenu>

                        <h:outputText value="Month"/>
                        <p:selectOneMenu id="periodMonth" value="#{jvActualController.periodMonth}" class="select">                                              
                            <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                            <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                            <p:ajax />     
                        </p:selectOneMenu>

                        <h:outputText value="Contract"/>
                        <p:selectOneMenu id="contract" value="#{jvActualController.currentFiscalArrangement}" class="select">                                              
                            <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />   
                            <p:ajax />     
                        </p:selectOneMenu>

                        <p:commandButton  value="Get Actuals From SAP"  class="btn" disabled="true" >
                            <p:ajax event="click" update="prodTable msgs"  />
                        </p:commandButton>

                        <p:commandButton  value="Get Actuals"  class="btn" >
                            <p:ajax listener="#{jvActualController.loadProductions}" event="click"
                                    process="ActualParamPanel periodYear periodMonth"
                                    update="actual_panel prodTable msgs"/>

                        </p:commandButton>
                    </p:panelGrid>

                    <h:panelGroup id="actual_panel">

                        <p:dataTable id="prodTable" var="prod" value="#{jvActualController.productions}" 
                                     selectionMode="single" selection="#{jvActualController.currentProduction}"
                                     paginator="true"
                                     rowKey="#{prod.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     class="table table-bordered table-hover tile"> 

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>


                            <p:column >                                                        
                                <f:facet name="header">
                                    <h:outputText value="Year" />   
                                </f:facet>
                                <h:outputText value="#{prod.periodYear}" />
                            </p:column>
                            <p:column>                                                        
                                <f:facet name="header">
                                    <h:outputText value="Month"/>
                                </f:facet>
                                <h:outputText value="#{prod.periodMonth}"/>                                                        
                            </p:column>                            
                            <p:column>                                                        
                                <f:facet name="header">
                                    <h:outputText value="Asset Stream/Crude Type"/>
                                </f:facet>
                                <h:outputText value="#{prod.contractStream.fiscalArrangement.title}/#{prod.contractStream.crudeType.code}"/>                                                        
                            </p:column> 
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Gross Prod" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.grossProduction}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Stock Adjustment" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.stockAdjustment}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Own Entitlement" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.ownShareEntitlement}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Partner Entitlement" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.partnerShareEntitlement}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Opening Stock" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.openingStock}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Availability" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.availability}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>                            
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Lifting (Actual)" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.lifting}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Lifting Cargoes" />                                                                           
                                </f:facet>                                                            
                                <h:outputText value="#{prod.cargos}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Closing Stock" />
                                </f:facet>                                                            
                                <h:outputText value="#{prod.closingStock}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{jvActualController.prepareCreate}" update="JvActualizeCreateForm" oncomplete="PF('JvActualizeCreateDlg').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update="JvActualizeViewForm" oncomplete="PF('JvActualizeViewDlg').show()" disabled="#{empty jvActualController.currentProduction}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update="JvActualizeEditForm" oncomplete="PF('JvActualizeEditDlg').show()" disabled="#{empty jvActualController.currentProduction}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{jvActualController.destroy}" update="prodTable" disabled="#{empty jvActualController.currentProduction}"/>
                            </f:facet>

                        </p:dataTable>

                    </h:panelGroup>

                </h:form>
            </div>
            <ui:include src="_actualize-create.xhtml"/>            
            <ui:include src="_actualize-edit.xhtml"/>
            <ui:include src="_actualize-view.xhtml"/>

        </ui:define>
    </ui:composition>

</html>
