<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition template="/template.xhtml">

        <ui:define name="title">
            <h:outputText value="COSM::Entitlement::JV Forecast"/>
        </ui:define>
        <ui:define name="breadcrum">
            <p:breadCrumb style="border: 0;">
                <p:menuitem value="#{bundle.Home}" url="/faces/index.xhtml" icon="ui-icon-home"/>
                <p:menuitem value="Joint Venture" url="/faces/jv/prod/forecast.xhtml" />
                <p:menuitem value="Forecast" disabled="true" />
            </p:breadCrumb>
        </ui:define>
        <ui:define name="body">
            <div class="row-fluid">   
                <h:form id="jvProdListForm">                   
                    <p:growl id="msgs" showDetail="false" />
                    <p:row>
                        <p:column colspan="5">
                            <p:panelGrid id="ActualParamPanel" columns="2">
                                <h:outputText value="Year"/>
                                <p:selectOneMenu id="periodYear" value="#{jvProdController.periodYear}" class="select" >                                              
                                    <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                                    <p:ajax listener="#{generalController.yearChanged}" event="change" update="periodMonth"/>     
                                </p:selectOneMenu>

                                <h:outputText value="Month"/>
                                <p:selectOneMenu id="periodMonth" value="#{jvProdController.periodMonth}" class="select">                                              
                                    <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                    <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                                    <p:ajax />     
                                </p:selectOneMenu>

                                <h:outputText value="Contract"/>
                                <p:selectOneMenu id="contract" value="#{jvProdController.currentFiscalArrangement}" class="select">                                              
                                    <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />   
                                    <p:ajax />     
                                </p:selectOneMenu>

                                <p:commandButton  value="Get Forecast From SAP"  class="btn" disabled="true" >
                                    <p:ajax event="click" update="prodTable msgs"  />
                                </p:commandButton>

                                <p:commandButton  value="Get Forecast"  class="btn" >
                                    <p:ajax listener="#{jvProdController.loadProductions}" event="click"
                                            process="ActualParamPanel periodYear periodMonth contract"
                                            update="forecast_panel prodTable msgs"/>

                                </p:commandButton>
                            </p:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="12">
                            <h:panelGroup id="forecast_panel">

                                <p:dataTable id="prodTable" var="prod" value="#{jvProdController.dataModel}" 
                                             selectionMode="single" selection="#{jvProdController.currentProduction}"
                                             paginator="true"
                                             rowKey="#{prod.id}"
                                             rows="10"
                                             rowsPerPageTemplate="10,20,30,40,50"
                                             class="table table-bordered table-hover tile"
                                             > 

                                    <p:ajax event="rowSelect"   update="actualizeButton createButton viewButton editButton deleteButton"/>
                                    <p:ajax event="rowUnselect" update="actualizeButton createButton viewButton editButton deleteButton"/>

                                    <p:columnGroup type="header">
                                        <p:row>                                            
                                            <p:column colspan="2" headerText="Asset" />
                                            <p:column colspan="2" headerText="Production" />
                                            <p:column colspan="6" headerText="NNPC" />
                                            <p:column colspan="6" headerText="Partner" />                                                                                        
                                        </p:row>                               
                                        <p:row>
                                            <p:column headerText="Contract" />
                                            <p:column headerText="Crude Type"/>
                                            <p:column headerText="Daily" />
                                            <p:column headerText="Gross" />
                                            
                                            <p:column headerText="Entitlement" />
                                            <p:column headerText="Opening Stock" />
                                            <p:column headerText="Avalilability" />
                                            <p:column headerText="Liftable Volume" />
                                            <p:column headerText="Cargo" />
                                            <p:column headerText="Closing Stock" />
                                            
                                            <p:column headerText="Entitlement" />
                                            <p:column headerText="Opening Stock" />
                                            <p:column headerText="Avalilability" />
                                            <p:column headerText="Liftable Volume" />
                                            <p:column headerText="Cargo" />
                                            <p:column headerText="Closing Stock" />
                                        </p:row>
                                    </p:columnGroup>                                    
                                    <p:column>
                                        <h:outputText value="#{prod.contractStream.fiscalArrangement.title}"/>                                                        
                                    </p:column> 
                                    <p:column>  
                                        <h:outputText value="#{prod.contractStream.crudeType.code}"/>                                                        
                                    </p:column>                            
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.productionVolume}">
                                            <f:convertNumber maxFractionDigits="2" groupingUsed="true" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.grossProduction}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                            
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.ownShareEntitlement}" >
                                            <f:convertNumber maxFractionDigits="2" groupingUsed="true" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                          
                                        <h:outputText value="#{prod.openingStock}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.availability}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                        
                                        <h:outputText value="#{prod.lifting}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.cargos}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>                                                                                          
                                        <h:outputText value="#{prod.closingStock}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column>                                                                                          
                                        <h:outputText value="#{prod.partnerShareEntitlement}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                          
                                        <h:outputText value="#{prod.partnerOpeningStock}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.partnerAvailability}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                        
                                        <h:outputText value="#{prod.partnerLifting}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                           
                                        <h:outputText value="#{prod.partnerCargos}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>                                    
                                    <p:column>                                                                                          
                                        <h:outputText value="#{prod.partnerClosingStock}">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputText>
                                    </p:column>

                                    <f:facet name="footer">
                                        <div class="row-fluid">
                                            <p:commandButton id="actualizeButton" icon="ui-icon-plus" value="#{bundle.Actualize}" actionListener="#{jvActualController.actualize(jvProdController.currentProduction)}" update="JvActualizeCreateForm" oncomplete="PF('JvActualizeCreateDlg').show()" disabled="#{empty jvProdController.currentProduction}"/>
                                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{jvProdController.prepareCreate}" update=":JvCreateForm" oncomplete="PF('JvCreateDialog').show()"/>
                                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":JvViewForm" oncomplete="PF('JvViewDialog').show()" disabled="#{empty jvProdController.currentProduction}"/>
                                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":JvEditForm" oncomplete="PF('JvEditDialog').show()" disabled="#{empty jvProdController.currentProduction}"/>
                                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{jvProdController.destroy}" update="prodTable" disabled="#{empty jvProdController.currentProduction}"/>
                                        </div>
                                    </f:facet>
                                </p:dataTable>

                            </h:panelGroup>
                        </p:column>
                    </p:row>
                </h:form>
            </div>
            <ui:include src="_actualize-create.xhtml"/>
            <ui:include src="_forecast-create.xhtml"/>
            <ui:include src="_forecast-edit.xhtml"/>
            <ui:include src="_forecast-view.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
