<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition>        
        <ul class="list-unstyled side-menu">
            <li>
                <a class="sa-side-home" href="/cosm-entitlement/faces/index.xhtml">
                    <span class="menu-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="sa-side-typography" href="index.xhtml">
                    <span class="menu-item">Admin</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="sa-side-photos" href="">
                    <span class="menu-item">Fiscal Arrangements</span>
                </a>
                <ul class="list-unstyled menu-item">
                    <li><a href="jv/jv-list.xhtml">Joint Venture</a></li>
                    <li><a href="psc/psc-list.xhtml">PSC</a></li>
                    <li><a href="asset/asset-list.xhtml">Contract Assets</a></li>
                </ul>
            </li>
            <li>
                <a class="sa-side-table" href="ioc/ioc-list.xhtml">
                    <span class="menu-item">IOCs</span>
                </a>
            </li>   
            <li>
                <a class="sa-side-table" href="equityType/List.xhtml">
                    <span class="menu-item">Equity Types</span>
                </a>
            </li>   
            <li>
                <a class="sa-side-table" href="crudeType/List.xhtml">
                    <span class="menu-item">Crude Types</span>
                </a>
            </li>   
            <li>
                <a class="sa-side-table" href="terminal/terminal-list.xhtml">
                    <span class="menu-item">Terminals</span>
                </a>
            </li> 
            <li>
                <a class="sa-side-table" href="price/price.xhtml">
                    <span class="menu-item">Realizable Prices</span>
                </a>
            </li>  
        </ul>
    </ui:composition>
</html>
