<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EquityTypeCreateDlg" widgetVar="EquityTypeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEquityTypeTitle}">
            <h:form id="EquityTypeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{equityTypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EquityTypeCode}" for="code" />
                        <p:inputText id="code" value="#{equityTypeController.selected.code}" title="#{bundle.CreateEquityTypeTitle_code}" />
                        <p:outputLabel value="#{bundle.EquityTypeDesc}" for="description" />
                        <p:inputText id="description" value="#{equityTypeController.selected.description}" title="#{bundle.CreateEquityTypeTitle_description}" />
                        <p:outputLabel value="#{bundle.EquityTypeOwn}" for="ownEquity" />
                        <p:inputText id="ownEquity" value="#{equityTypeController.selected.ownEquity}" title="#{bundle.CreateEquityTypeTitle_ownEquity}" />
                        <p:outputLabel value="#{bundle.EquityTypePartner}" for="partnerEquity" />
                        <p:inputText id="partnerEquity" value="#{equityTypeController.selected.partnerEquity}" title="#{bundle.CreateEquityTypeTitle_partnerEquity}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{equityTypeController.create}" value="#{bundle.Save}" update="display,:EquityTypeListForm:datalist,:growl" oncomplete="handleSubmit(args,'EquityTypeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EquityTypeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
