<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.EquityTypeListTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EquityTypeListForm">
                <p:panel header="#{bundle.EquityTypeListTitle}">
                    <p:dataTable id="datalist" value="#{equityTypeController.items}" var="item"
                                 selectionMode="single" selection="#{equityTypeController.selected}"
                                 paginator="true"
                                 rowKey="#{item.code}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.EquityTypeCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.EquityTypeDesc}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.EquityTypeOwn}"/>
                            </f:facet>
                            <h:outputText value="#{item.ownEquity}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.EquityTypePartner}"/>
                            </f:facet>
                            <h:outputText value="#{item.partnerEquity}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{equityTypeController.prepareCreate}" update=":EquityTypeCreateForm" oncomplete="PF('EquityTypeCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EquityTypeViewForm" oncomplete="PF('EquityTypeViewDialog').show()" disabled="#{empty equityTypeController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EquityTypeEditForm" oncomplete="PF('EquityTypeEditDialog').show()" disabled="#{empty equityTypeController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{equityTypeController.destroy}" update=":growl,datalist" disabled="#{empty equityTypeController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
