<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductionSharingContractCreateDlg" widgetVar="ProductionSharingContractCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductionSharingContractTitle}">
            <h:form id="ProductionSharingContractCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pscController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProductionSharingContractLabel_id}" for="id" />
                        <p:inputText id="id" value="#{pscController.selected.id}" title="#{bundle.CreateProductionSharingContractTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateProductionSharingContractLabel_title}" for="title" />
                        <p:inputText id="title" value="#{pscController.selected.title}" title="#{bundle.CreateProductionSharingContractTitle_title}" />
                        <p:outputLabel value="#{bundle.CreateProductionSharingContractLabel_operator}" for="operator" />
                        <p:selectOneMenu id="operator" value="#{pscController.selected.operator}" >
                            <f:selectItems value="#{companyController.itemsAvailableSelectOne}"
                                           var="operatorItem"
                                           itemValue="#{operatorItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pscController.create}" value="#{bundle.Save}" update="display,:ProductionSharingContractListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductionSharingContractCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductionSharingContractCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
