<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="Production Sharing Contract List"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">Production Sharing Contract</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="PRODUCTION SHARING CONTRACT"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_psc-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="pscListForm"> 
                <!-- Multi Column -->
                <div jsf:id="pscPanel" class="row">
                    <div class="col-md-9 m-b-9">
                        <h:dataTable id="pscTable" var="psc" value="#{pscController.pscItems}" 
                                     class="table table-bordered table-hover tile">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.JointVentureListTitle}"/>
                                </f:facet>
                                <h:outputText value="#{psc.title}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.Operator}"/>
                                </f:facet>
                                <h:outputText value="#{psc.operator.name}"/>
                            </h:column>                            
                            <h:column>
                                <div class="btn-group">
                                    <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" jsf:id="btnList">
                                        <li>
                                            <h:commandLink  pt:data-target="#PscCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                                <span class="icon">&#61943;</span>
                                                #{bundle.Create}
                                                <f:ajax event="click" render="PscCreateForm" listener="#{pscController.prepareCreate}" />
                                            </h:commandLink>                                       
                                        </li>

                                        <li>
                                            <h:commandLink pt:data-target="#PscViewDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61698;</span>
                                                #{bundle.View}
                                                <f:ajax event="click" render="PscViewForm" listener="#{pscController.setSelected(psc)}"/>
                                            </h:commandLink>
                                        </li>
                                        <li><h:commandLink pt:data-target="#PscEditDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61952;</span>
                                                #{bundle.Edit}
                                                <f:ajax event="click" render="PscEditForm" listener="#{pscController.setSelected(psc)}"/>
                                            </h:commandLink>
                                        </li>  
                                        <li>
                                            <h:commandLink>
                                                <span class="icon">&#61918;</span>
                                                #{bundle.Delete}
                                                <f:ajax render="pscListForm pscTable msgs" listener="#{pscController.destroy(psc)}"/>
                                            </h:commandLink>
                                        </li> 
                                    </ul>
                                </div>
                            </h:column>

                            <f:facet name="footer">                                                                
                                <button jsf:id="createButton" look="warning" data-target="#PscCreateDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61943;</span>
                                    #{bundle.Create}
                                    <f:ajax event="click" render="PscCreateForm" listener="#{pscController.prepareCreate}" />                                    
                                </button>

                                <button jsf:id="viewButton" look="warning" data-target="#PscViewDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61698;</span>
                                    #{bundle.View}
                                    <f:ajax event="click" render="PscViewForm" />
                                </button>
                                <button jsf:id="editButton" look="warning" data-target="#PscEditDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61952;</span>                                    
                                    #{bundle.Edit}
                                    <f:ajax event="click" render="PscEditForm" />
                                </button>

                                <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty pscController.selected}">
                                    <span class="icon">&#61918;</span>
                                    #{bundle.Delete}
                                    <f:ajax render="pscTable" listener="#{pscController.destroy}"/>
                                </button>

                            </f:facet>
                        </h:dataTable>
                    </div>
                </div>
            </h:form>
            <ui:include src="_psc-create.xhtml"/>           
            <ui:include src="_psc-edit.xhtml"/>
            <ui:include src="_psc-view.xhtml"/>
        </ui:define>

<!--        <ui:define name="page-stat"> 
            <ui:include src="_psc-stat.xhtml"/>
        </ui:define>-->

    </ui:composition>



</html>
