<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductionSharingContractViewDlg" widgetVar="ProductionSharingContractViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductionSharingContractTitle}">
            <h:form id="ProductionSharingContractViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pscController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductionSharingContractLabel_id}"/>
                        <h:outputText value="#{pscController.selected.id}" title="#{bundle.ViewProductionSharingContractTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProductionSharingContractLabel_title}"/>
                        <h:outputText value="#{pscController.selected.title}" title="#{bundle.ViewProductionSharingContractTitle_title}"/>
                        <h:outputText value="#{bundle.ViewProductionSharingContractLabel_operator}"/>
                        <h:outputText value="#{pscController.selected.operator}" title="#{bundle.ViewProductionSharingContractTitle_operator}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductionSharingContractViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
