<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no"/>
        <meta charset="UTF-8"/>

        <meta name="description" content="Violate Responsive Admin Template"/>
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap"/>

        <title><ui:insert name="title">COSM::Entitlement</ui:insert></title>

        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <h:outputStylesheet name="css/animate.min.css"/>
        <h:outputStylesheet name="css/font-awesome.min.css"/>
        <h:outputStylesheet name="css/form.css"/>
        <h:outputStylesheet name="css/calendar.css"/>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/icons.css"/>
        <h:outputStylesheet name="css/generics.css"/>


    </h:head>
    <h:body id="skin-blur-kiwi">
        <header id="header" class="media">
            <a href="" id="menu-toggle"></a> 
            <a class="logo pull-left" href="/cosm-entitlement/faces/index.xhtml">ENTITLEMENT 1.0</a>

            <div class="media-body">
                <div class="media" id="top-menu">
                    <div class="pull-left tm-icon">
                        <a data-drawer="messages" class="drawer-toggle" href="">
                            <i class="sa-top-message"></i>
                            <i class="n-count animated">5</i>
                            <span>Messages</span>
                        </a>
                    </div>
                    <div class="pull-left tm-icon">
                        <a data-drawer="notifications" class="drawer-toggle" href="">
                            <i class="sa-top-updates"></i>
                            <i class="n-count animated">9</i>
                            <span>Updates</span>
                        </a>
                    </div>

                    <div id="weather" class="animated pull-right"></div>

                    <div id="time" class="pull-right">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>

                    <div class="media-body">
                        <input type="text" class="main-search"/>
                    </div>
                </div>
            </div>
        </header>

        <div class="clearfix"></div>

        <section id="main" class="p-relative" role="main">

            <!-- Sidebar -->
            <aside id="sidebar">

                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <!--                            <img class="profile-pic animated" src="img/profile-pic.jpg" alt=""/>-->
                            <h:graphicImage class="profile-pic animated" url="/resources/img/nnpc-logo.png" alt="NNPC Logo" />

                        </a>
                        <ul class="dropdown-menu profile-menu">
                            <li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            <li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            <li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                            <li><a href="">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                        </ul>
                        <h4 class="m-0">Crude Oil Stock Management</h4>
                        Entitlement Determination

                    </div>

                    <!-- Calendar -->
                    <div class="s-widget m-b-25">
                        <div id="sidebar-calendar"></div>
                    </div>

                </div>

                <!-- Side Menu -->
                <ui:insert name="side-menu">

                </ui:insert>

            </aside>

            <!-- Content -->
            <section id="content" class="container">

                <!-- Messages Drawer -->
                <div id="messages" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="">Send a New Message</a>
                            <span class="drawer-close">times;</span>

                        </div>
                        <div class="overflow" style="height: 254px">
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/1.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/2.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">David Villa - 5 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/3.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Harris worgon - On 15/12/2013</small><br/>
                                    <a class="t-overflow" href="">Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/4.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Mitch Bradberry - On 14/12/2013</small><br/>
                                    <a class="t-overflow" href="">Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/1.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - On 15/12/2013</small><br/>
                                    <a class="t-overflow" href="">Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/2.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">David Villa - On 16/12/2013</small><br/>
                                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/3.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Harris worgon - On 17/12/2013</small><br/>
                                    <a class="t-overflow" href="">Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/4.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Mitch Bradberry - On 18/12/2013</small><br/>
                                    <a class="t-overflow" href="">Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/5.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Wendy Mitchell - On 19/12/2013</small><br/>
                                    <a class="t-overflow" href="">Integer a eros dapibus, vehicula quam accumsan, tincidunt purus</a>
                                </div>
                            </div>
                        </div>
                        <div class="media text-center whiter l-100">
                            <a href=""><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>

                <!-- Notification Drawer -->
                <div id="notifications" class="tile drawer animated">
                    <div class="listview narrow">
                        <div class="media">
                            <a href="">Notification Settings</a>
                            <span class="drawer-close">times;</span>
                        </div>
                        <div class="overflow" style="height: 254px">
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/1.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - 2 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Mauris consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/2.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">David Villa - 5 Hours ago</small><br/>
                                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/3.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Harris worgon - On 15/12/2013</small><br/>
                                    <a class="t-overflow" href="">Maecenas venenatis enim condimentum ultrices fringilla. Nulla eget libero rhoncus, bibendum diam eleifend, vulputate mi. Fusce non nibh pulvinar, ornare turpis id</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/4.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Mitch Bradberry - On 14/12/2013</small><br/>
                                    <a class="t-overflow" href="">Phasellus interdum felis enim, eu bibendum ipsum tristique vitae. Phasellus feugiat massa orci, sed viverra felis aliquet quis. Curabitur vel blandit odio. Vestibulum sagittis quis sem sit amet tristique.</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/1.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">Nadin Jackson - On 15/12/2013</small><br/>
                                    <a class="t-overflow" href="">Ipsum wintoo consectetur urna nec tempor adipiscing. Proin sit amet nisi ligula. Sed eu adipiscing lectus</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <img width="40" src="img/profile-pics/2.jpg" alt=""/>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">David Villa - On 16/12/2013</small><br/>
                                    <a class="t-overflow" href="">Suspendisse in purus ut nibh placerat Cras pulvinar euismod nunc quis gravida. Suspendisse pharetra</a>
                                </div>
                            </div>
                        </div>
                        <div class="media text-center whiter l-100">
                            <a href=""><small>VIEW ALL</small></a>
                        </div>
                    </div>
                </div>

                <!-- Breadcrumb -->                
                <ui:insert name="breadcrumb">
                    <ol class="breadcrumb hidden-xs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </ui:insert>

                <!-- Page Title -->
                <h4 class="page-title"><ui:insert name="page-title">Page Title</ui:insert></h4>

                <div class="block-area">
                    <div class="row">
                        <div class="col-md-10">
                            <h:messages id="msgs" showDetail="false" class="alert alert-info alert-dismissable fade in"/>
                            <!--                            <p:growl id="msgs" life="3000" />-->
                            <!-- Content Area -->
                            <ui:insert name="content-area">

                            </ui:insert>


                        </div>



                        <div class="col-md-2">
                            <ui:insert name="page-stat">

                            </ui:insert>
                        </div>
                    </div>

                    <br/><br/><br/>
                </div> 
            </section>
        </section>

        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <!-- jQuery Library -->
        <h:outputScript name="js/jquery.min.js" />

        <!-- Bootstrap -->
        <h:outputScript name="js/bootstrap.min.js" />

        <!-- Charts -->
        <h:outputScript name="js/charts/jquery.flot.js"/><!-- Flot Main -->
        <h:outputScript name="js/charts/jquery.flot.time.js"/> <!-- Flot sub -->
        <h:outputScript name="js/charts/jquery.flot.animator.min.js"/> <!-- Flot sub -->
        <h:outputScript name="js/charts/jquery.flot.resize.min.js"/> <!-- Flot sub - for repaint when resizing the screen -->
        <h:outputScript name="js/charts/jquery.flot.orderBar.js" /><!-- Flot Bar chart -->
        <h:outputScript name="js/charts/jquery.flot.pie.min.js" /><!-- Flot Pie chart --> 

        <h:outputScript name="js/sparkline.min.js"/> <!-- Sparkline - Tiny charts -->
        <h:outputScript name="js/easypiechart.js"/> <!-- EasyPieChart - Animated Pie Charts -->
        <h:outputScript name="js/charts.js"/> <!-- All the above chart related functions -->

        <!-- Map -->
        <h:outputScript name="js/maps/jvectormap.min.js"/> <!-- jVectorMap main library -->
        <h:outputScript name="js/maps/usa.js"/> <!-- USA Map for jVectorMap -->
        <h:outputScript name="js/maps/world.js"/> <!-- World Map for jVectorMap -->


        <!-- UX -->
        <h:outputScript name="js/scroll.min.js"/> <!-- Custom Scrollbar -->

        <!-- Other -->
        <h:outputScript name="js/calendar.min.js"/> <!-- Calendar -->
        <h:outputScript name="js/weather.min.js"/> <!-- Weather -->
        <h:outputScript name="js/feeds.min.js"/> <!-- News Feeds -->

        <!--  Form Related -->
        <h:outputScript name="js/select.min.js"/> <!-- Custom Select -->
        <h:outputScript name="js/icheck.js"/> <!-- Custom Checkbox + Radio -->
        <h:outputScript name="js/fileupload.min.js"/> <!-- File Upload -->
        <h:outputScript name="js/autosize.min.js"/> <!-- Textare autosize -->
        <!-- Custom Checkbox + Radio -->
        <h:outputScript name="js/icheck.js" />

        <!-- All JS functions -->
        <h:outputScript name="js/functions.js" />   



        <ui:insert name="script">

        </ui:insert>



    </h:body>
</html>