<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no"/>
        <meta charset="UTF-8"/>

        <meta name="description" content="Violate Responsive Admin Template"/>
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap"/>

        <title>COSM:Entitlement Login</title>

        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <h:outputStylesheet name="css/animate.css"/>
        <h:outputStylesheet name="css/font-awesome.min.css"/>
        <h:outputStylesheet name="css/form.css"/>
        <h:outputStylesheet name="css/calendar.css"/>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputStylesheet name="css/icons.css"/>
        <h:outputStylesheet name="css/generics.css"/>

    </h:head>
    <h:body id="skin-blur-kiwi">
        <section id="error-page" class="tile">
            <h1 class="m-b-10">LOGIN ERROR</h1>
            <p>Sorry, login failed! Please contact your Administrator.</p>
            <a class="underline" href="">Back to previous page</a> or <a class="underline" href="">Go to Home page</a> 
        </section>
    </h:body>
</html>
