<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition>
        <div class="modal fade" id="JvViewDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">View JV Actual Production</h4>
                    </div>
                    <h:form id="JvViewForm">
                        <div class="modal-body">
                            <h:panelGroup id="ViewPanel" >
                                <div class="well tile">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Year" for="periodYear"/>
                                                <h:selectOneMenu id="periodYear" value="#{jvActualController.currentProduction.productionPK.periodYear}" class="form-control input-sm m-b-10" >
                                                    <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>
                                                </h:selectOneMenu>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Month" for="periodMonth"/>
                                                <h:selectOneMenu id="periodMonth" value="#{jvActualController.currentProduction.productionPK.periodMonth}" class="form-control input-sm m-b-10">
                                                    <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                                    <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />
                                                </h:selectOneMenu>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <label>Fiscal Arrangement</label>
                                                <h:selectOneMenu id="fiscalArrangement" value="#{jvActualController.currentFiscalArrangement}" class="form-control input-sm m-b-10">
                                                    <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Contract" for="contracts" />
                                                <h:selectOneMenu id="contracts" value="#{jvActualController.currentProduction.contract}" class="form-control input-sm m-b-10">
                                                    <f:selectItems value="#{jvActualController.contractSelectOne}"/>
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div jsf:id="carryContractInfo" jsf:rendered="#{jvActualController.fiscalArrangementAfContract}" class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Cost</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Tangible Cost" for="tangible" />
                                                <h:inputText id="tangible" value="#{jvActualController.currentAfProduction.tangibleCost}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Intangible Cost" for="intangible" />
                                                <h:inputText id="intangible" value="#{jvActualController.currentAfProduction.intangibleCost}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Capital Cost (CCC)" for="ccc" />
                                                <h:outputLabel id="ccc" value="#{jvActualController.currentAfProduction.intangibleCost + jvActualController.currentAfProduction.tangibleCost}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Capital Cost Amortized (CCCA)" for="ccca" />
                                                <h:outputLabel id="ccca" value="#{jvActualController.currentAfProduction.capitalCarryCostAmortized}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Production</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">                                            
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Gross Prod" for="grossVolume" />
                                                <h:inputText id="grossVolume" value="#{jvActualController.currentProduction.grossProduction}" title="Gross Prod Volume" class="form-control input-sm" >
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Stock Adjustment" for="stockAdjustment" />
                                                <h:inputText id="stockAdjustment" value="#{jvActualController.currentProduction.stockAdjustment}" title="Stock Adjustment" class="form-control input-sm" >
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div jsf:id="carryContractInfo2" jsf:rendered="#{jvActualController.fiscalArrangementAfContract}" class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">AF Calculations</h3>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Tax Expenditure (CTE)" for="cte" />
                                                <h:outputLabel id="cte" value="#{jvActualController.currentAfProduction.carryTaxExpenditure}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Tax Relief (CTR)" for="ctr" />
                                                <h:outputLabel id="ctr" value="#{jvActualController.currentAfProduction.carryTaxRelief}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Residual Carry Expenditure (RCE)" for="rce" />
                                                <h:outputLabel id="rce" value="#{jvActualController.currentAfProduction.residualCarryExpenditure}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Inc. Margin (IGNM)" for="ignm" />
                                                <h:outputLabel id="ignm" value="#{jvActualController.currentAfProduction.guaranteedNotionalMargin}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Oil" for="carryOil" />
                                                <h:outputLabel id="carryOil" value="#{jvActualController.currentAfProduction.carryOil}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Shared Oil" for="sharedOil" />
                                                <h:outputLabel id="sharedOil" value="#{jvActualController.currentAfProduction.sharedOil}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="row">                                   
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Oil Received (COR)" for="cor" />
                                                <h:outputLabel id="cor" value="#{jvActualController.currentAfProduction.carryOilReceived}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>                                    
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>

                                <div jsf:id="carryContractInfoYTD" jsf:rendered="#{jvActualController.fiscalArrangementAfContract}" class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">AF Calculations YTD</h3>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Tax Expenditure (CTE)" for="cteCum" />
                                                <h:outputLabel id="cteCum" value="#{jvActualController.currentAfProduction.carryTaxExpenditureCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Tax Relief (CTR)" for="ctrCum" />
                                                <h:outputLabel id="ctrCum" value="#{jvActualController.currentAfProduction.carryTaxReliefCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Residual Carry Expenditure (RCE)" for="rceCum" />
                                                <h:outputLabel id="rceCum" value="#{jvActualController.currentAfProduction.residualCarryExpenditureCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Inc. Margin (IGNM)" for="ignmCum" />
                                                <h:outputLabel id="ignmCum" value="#{jvActualController.currentAfProduction.guaranteedNotionalMargin}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Oil" for="carryOilCum" />
                                                <h:outputLabel id="carryOilCum" value="#{jvActualController.currentAfProduction.carryOilCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Shared Oil" for="sharedOilCum" />
                                                <h:outputLabel id="sharedOilCum" value="#{jvActualController.currentAfProduction.sharedOilCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="row">                                   
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Carry Oil Received (COR)" for="corCum" />
                                                <h:outputLabel id="corCum" value="#{jvActualController.currentAfProduction.carryOilReceivedCum}" class="form-control input-sm m-b-10">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>                                    
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>

                                <!--NNPC Entitlement -->
                                <div class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">NNPC Entitlement</h3>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Opening Stock:" for="openingStock" />
                                                <h:inputText id="openingStock" value="#{jvActualController.currentProduction.openingStock}" title="Opening Stock" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Entitlement:" for="ownShareEntitlement" />
                                                <h:inputText id="ownShareEntitlement" value="#{jvActualController.currentProduction.ownShareEntitlement}" title="Own Entitlement" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Overlift" for="overlift" />
                                                <h:outputLabel id="overlift" value="#{jvActualController.currentProduction.overlift}" title="Overlift" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Availability" for="availability" />
                                                <h:outputLabel id="availability" value="#{jvActualController.currentProduction.availability}" title="Availability" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Liftable Vol (Actual)" for="lifting" />
                                                <h:inputText id="lifting" value="#{jvActualController.currentProduction.lifting}" title="Lifting (Actual)"
                                                             class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Lifting Cargoes" for="cargoes" />
                                                <h:inputText id="cargoes" value="#{jvActualController.currentProduction.cargos}" title="Lifting Cargoes" class="form-control input-sm"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Closing Stock: </label>
                                            <label jsf:id="closingStock" class="col-md-5 control-label">
                                                #{jvActualController.currentProduction.closingStock}
                                                <f:convertNumber pattern="###,###,###.####" />
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Partner Entitlement</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Opening Stock:" for="ptnrOpeningStock" />
                                                <h:inputText id="ptnrOpeningStock" value="#{jvActualController.currentProduction.partnerOpeningStock}" title="Opening Stock" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Entitlement:" for="ptnrEntitlement" />
                                                <h:inputText id="ptnrEntitlement" value="#{jvActualController.currentProduction.partnerShareEntitlement}" title="Partner Entitlement" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Overlift" for="ptnrOverlift" />
                                                <h:inputText id="ptnrOverlift" value="#{jvActualController.currentProduction.partnerOverlift}" title="Partner Overlift" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Availability" for="ptnrAvailability" />
                                                <h:outputLabel id="ptnrAvailability" value="#{jvActualController.currentProduction.partnerAvailability}" title="Availability" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Liftable Vol (Actual)" for="ptnrLifting" />
                                                <h:inputText id="ptnrLifting" value="#{jvActualController.currentProduction.partnerLifting}" title="Lifting (Actual)"
                                                             class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Lifting Cargoes" for="ptnrCargoes" />
                                                <h:inputText id="ptnrCargoes" value="#{jvActualController.currentProduction.partnerCargos}" title="Lifting Cargoes" class="form-control input-sm"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Closing Stock: </label>
                                            <label jsf:id="ptnrClosingStock" class="col-md-5 control-label">
                                                #{jvActualController.currentProduction.partnerClosingStock}
                                                <f:convertNumber pattern="###,###,###.####" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="modal-footer">
                            <h:commandButton value="#{bundle.Close}" class="btn btn-sm" pt:data-dismiss="modal" />
                        </div>
                    </h:form>
                </div>
            </div>
        </div> 
    </ui:composition>
</html>
