<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>

        <div class="modal fade" id="JvEditDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit JV Forecast</h4>
                    </div>
                    <h:form id="JvEditForm">
                        <div class="modal-body">

                            <h:panelGroup id="JvEditPanel" rendered="#{jvProdController.currentProduction != null}">
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Year" for="periodYear"/>
                                        <h:selectOneMenu id="periodYear" value="#{jvProdController.currentProduction.periodYear}" class="form-control input-sm m-b-10" >                                              
                                            <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                                            <f:ajax listener="#{generalController.yearChanged}" event="change" render="periodMonth"/>     
                                        </h:selectOneMenu>                                        
                                    </div>

                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Month" for="periodMonth"/>
                                        <h:selectOneMenu id="periodMonth" value="#{jvProdController.currentProduction.periodMonth}" class="form-control input-sm m-b-10">                                              
                                            <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                            <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                                            <f:ajax />     
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Asset/Crude Type" for="contract" />
                                        <h:selectOneMenu id="contract" value="#{jvProdController.currentProduction.contract}" class="form-control input-sm m-b-10">
                                            <f:selectItems value="#{contractController.itemsAvailableSelectOne}"/>
                                            <f:ajax/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Daily Prod (bpd)" for="productionVolume" />
                                        <h:inputText id="productionVolume" value="#{jvProdController.currentProduction.productionVolume}" title="Daily Production Volume" class="form-control input-sm" >
                                            <f:ajax event="change" listener="#{jvProdController.productionVolumeChange}"                                     
                                                    render="grossVolume openingStock closingStock ownShareEntitlement partnerShareEntitlement availability lifting cargoes" />
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Gross Prod" for="grossVolume" />
                                        <h:inputText id="grossVolume" value="#{jvProdController.currentProduction.grossProduction}" title="Gross Prod Volume" class="form-control input-sm" >
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Own Entitlement:" for="ownShareEntitlement" />
                                        <h:inputText id="ownShareEntitlement" value="#{jvProdController.currentProduction.ownShareEntitlement}" title="Own Entitlement" class="form-control input-sm">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>

                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Partner Entitlement:" for="partnerShareEntitlement" />
                                        <h:inputText id="partnerShareEntitlement" value="#{jvProdController.currentProduction.partnerShareEntitlement}" title="Partner Entitlement" class="form-control input-sm">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Opening Stock:" for="openingStock" />
                                        <h:inputText id="openingStock" value="#{jvProdController.currentProduction.openingStock}" title="Opening Stock" class="form-control input-sm">
                                            <f:ajax/>
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>

                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Availability" for="availability" />
                                        <h:outputLabel id="availability" value="#{jvProdController.currentProduction.availability}" title="Availability" class="form-control input-sm">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Lifting (Nom)" for="lifting" />
                                        <h:inputText id="lifting" value="#{jvProdController.currentProduction.lifting}" title="Lifting (Nom)" class="form-control input-sm">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>

                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Lifting Cargoes" for="cargoes" />
                                        <h:inputText id="cargoes" value="#{jvProdController.currentProduction.cargos}" title="Lifting Cargoes" class="form-control input-sm"/>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="Closing Stock:" for="closingStock" />
                                        <h:outputLabel id="closingStock" value="#{jvProdController.currentProduction.closingStock}" title="Closing Stock" class="form-control input-sm">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputLabel>
                                    </div>

                                </div>
                            </h:panelGroup>


                        </div>
                        <div class="modal-footer">
                            <h:commandButton  value="#{bundle.Save}" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{jvProdController.update}" render=":jvProdListForm:prodTable,:msgs"/>
                            </h:commandButton>

                            <h:commandButton   value="#{bundle.Cancel}" pt:data-dismiss="modal" immediate="true" class="btn btn-sm">
                                <f:ajax event="click" listener="#{jvProdController.cancel}" render=":jvProdListForm:prodTable,:msgs"/>
                            </h:commandButton>   

                        </div>
                    </h:form>
                </div>
            </div>
        </div> 

    </ui:composition>
</html>
