<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition>
        <div class="modal fade" id="JvCreateDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create JV Forecast</h4>
                    </div>
                    <h:form id="JvCreateForm">
                        <div class="modal-body">
                            <h:panelGroup id="JvCreatePanel">
                                <div class="row">
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Year" for="periodYear"/>
                                        <h:selectOneMenu id="periodYear" value="#{jvProdController.periodYear}" class="form-control input-sm m-b-10" >                                              
                                            <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                                            <f:ajax listener="#{generalController.yearChanged}" event="change" render="periodMonth"/>     
                                        </h:selectOneMenu>                                        
                                    </div>
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Month" for="periodMonth"/>
                                        <h:selectOneMenu id="periodMonth" value="#{jvProdController.periodMonth}" class="form-control input-sm m-b-10">                                              
                                            <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                            <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                                            <f:ajax />     
                                        </h:selectOneMenu>
                                    </div>
                                    <div class="col-md-4 m-b-15">
                                        <label>Fiscal Arrangement</label>
                                        <h:selectOneMenu id="fiscalArrangement" value="#{jvProdController.currentFiscalArrangement}" class="form-control input-sm m-b-10">                                              
                                            <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />   
                                            <f:ajax event="change" render="contracts"/>        
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Contract" for="contracts" />
                                        <h:selectOneMenu id="contracts" value="#{jvProdController.currentContract}" class="form-control input-sm m-b-10">
                                            <f:selectItems value="#{jvProdController.contractSelectOne}"/>
                                            <f:ajax event="change" listener="#{jvProdController.currentContractChanged}" render="JvCreateForm carryContractInfo"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row" jsf:id="carryContractInfo" jsf:rendered="#{jvProdController.fiscalArrangementAfContract}">
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Tangible Cost" for="tangible" />
                                        <h:inputText id="tangible" value="#{jvProdController.currentAfProduction.tangibleCost}" class="form-control input-sm m-b-10">
                                            <f:ajax />
                                        </h:inputText>                                                                                                                  
                                    </div>
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Intangible Cost" for="intangible" />
                                        <h:inputText id="intangible" value="#{jvProdController.currentAfProduction.intangibleCost}" class="form-control input-sm m-b-10">
                                            <f:ajax />
                                        </h:inputText>                                                                                                                  
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Daily Prod (bpd)" for="productionVolume" />
                                        <h:inputText id="productionVolume" value="#{jvProdController.currentProduction.productionVolume}" title="Daily Production Volume" class="form-control input-sm" >
                                            <f:ajax event="change" listener="#{jvProdController.productionVolumeChanged}"                                     
                                                    render="grossVolume carryOil sharedOil openingStock ownShareEntitlement closingStock lifting cargoes availability ptnrOpeningStock ptnrEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"/>
                                            execute="contract"/>
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Gross Prod" for="grossVolume" />
                                        <h:inputText id="grossVolume" value="#{jvProdController.currentProduction.grossProduction}" title="Gross Prod Volume" class="form-control input-sm" >
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="row" jsf:id="carryContractInfo2" jsf:rendered="#{jvProdController.fiscalArrangementAfContract}">
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Carry Oil" for="carryOil" />
                                        <h:outputLabel id="carryOil" value="#{jvProdController.currentAfProduction.carryOil}" class="form-control input-sm m-b-10">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputLabel>
                                    </div>
                                    <div class="col-md-4 m-b-15">
                                        <h:outputLabel value="Shared Oil" for="sharedOil" />
                                        <h:outputLabel id="sharedOil" value="#{jvProdController.currentAfProduction.sharedOil}" class="form-control input-sm m-b-10">
                                            <f:convertNumber pattern="###,###,###.####" />
                                        </h:outputLabel>
                                    </div>
                                </div>
                                <!--****************************************************************** -->
                                <div class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">NNPC Entitlement</h3>

                                    </div>
                                    <div class="panel-body">
                                        <div class="row">  
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Opening Stock:" for="openingStock" />
                                                <h:inputText id="openingStock" value="#{jvProdController.currentProduction.openingStock}" title="Opening Stock" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                    <f:ajax event="change" listener="#{jvProdController.openingStockChanged}"  
                                                            render="ownShareEntitlement  closingStock stockAdjustment lifting cargoes availability ptnrOpeningStock ptnrStockAdjustment ptnrEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                                                            />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Entitlement:" for="ownShareEntitlement" />
                                                <h:inputText id="ownShareEntitlement" value="#{jvProdController.currentProduction.ownShareEntitlement}" title="Own Entitlement" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Availability" for="availability" />
                                                <h:outputLabel id="availability" value="#{jvProdController.currentProduction.availability}" title="Availability" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Liftable Vol (Nom)" for="lifting" />
                                                <h:outputLabel id="lifting" value="#{jvProdController.currentProduction.lifting}" title="Lifting (Actual)" 
                                                               class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Lifting Cargoes" for="cargoes" />
                                                <h:inputText id="cargoes" value="#{jvProdController.currentProduction.cargos}" title="Lifting Cargoes" class="form-control input-sm"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Closing Stock: </label>
                                            <label jsf:id="closingStock" class="col-md-5 control-label">
                                                #{jvProdController.currentProduction.closingStock}
                                                <f:convertNumber pattern="###,###,###.####" />
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default tile">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Partner Entitlement</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">  
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Opening Stock:" for="ptnrOpeningStock" />
                                                <h:inputText id="ptnrOpeningStock" value="#{jvProdController.currentProduction.partnerOpeningStock}" title="Opening Stock" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                    <f:ajax event="change" listener="#{jvProdController.openingStockChanged}"  
                                                            render="openingStock ownShareEntitlement  closingStock stockAdjustment lifting cargoes availability ptnrStockAdjustment ptnrEntitlement ptnrClosingStock ptnrLifting ptnrCargoes ptnrAvailability"
                                                            />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Entitlement:" for="ptnrEntitlement" />
                                                <h:inputText id="ptnrEntitlement" value="#{jvProdController.currentProduction.partnerShareEntitlement}" title="Partner Entitlement" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Availability" for="ptnrAvailability" />
                                                <h:outputLabel id="ptnrAvailability" value="#{jvProdController.currentProduction.partnerAvailability}" title="Availability" class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Liftable Vol (Nom)" for="ptnrLifting" />
                                                <h:inputText id="ptnrLifting" value="#{jvProdController.currentProduction.partnerLifting}" title="Lifting (Actual)" 
                                                             class="form-control input-sm">
                                                    <f:convertNumber pattern="###,###,###.####" />                                                   
                                                </h:inputText>
                                            </div>
                                            <div class="col-md-4 m-b-15">
                                                <h:outputLabel value="Lifting Cargoes" for="ptnrCargoes" />
                                                <h:inputText id="ptnrCargoes" value="#{jvProdController.currentProduction.partnerCargos}" title="Lifting Cargoes" class="form-control input-sm"/>
                                            </div>                                            
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Closing Stock: </label>
                                            <label jsf:id="ptnrClosingStock" class="col-md-5 control-label">
                                                #{jvProdController.currentProduction.partnerClosingStock}
                                                <f:convertNumber pattern="###,###,###.####" />
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </h:panelGroup>


                        </div>
                        <div class="modal-footer">
                            <h:commandButton  value="#{bundle.Save}" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{jvProdController.create}" render="jvProdListForm forecast_panel prodTable msgs"/>
                            </h:commandButton>

                            <h:commandButton   value="#{bundle.Cancel}" pt:data-dismiss="modal" immediate="true" class="btn btn-sm">
                                <f:ajax event="click" listener="#{jvProdController.cancel}" render=":jvProdListForm:prodTable,:msgs"/>
                            </h:commandButton>                            
                        </div>
                    </h:form>
                </div>
            </div>
        </div> 

    </ui:composition>
</html>
