<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition>        
        <div class="tile">
            <h2 class="tile-title">Terminal Statistics</h2>
            <div class="tile-config dropdown">
                <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="" data-original-title="Options"></a>
                <ul class="dropdown-menu pull-right text-right"> 
                    <li><a href="">Edit</a></li>
                    <li><a href="">Delete</a></li>
                </ul>
            </div>

            <div class="p-10" jsf:id="terminal-stat">
                <div class="m-b-10">
                    Gross Production:                    
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.grossSum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                    </small>
                </div>
                <div class="m-b-10">
                    Entitlement:                    
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.ownEntitlementSum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </small>
                </div>
                <div class="m-b-10">
                    Opening Stock:                    
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.openingStockSum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                    </small>
                </div> 
                <div class="m-b-10">
                    Availability:
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.availabilitySum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                    </small>
                </div> 
                <div class="m-b-10">
                    Lifting (Nom):
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.nomLiftingSum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                    </small>
                </div> 
                <div class="m-b-10">
                    Closing Stock:
                    <small class="muted">
                        <h:outputLabel value="#{jvTermBlendController.closingStockSum}">
                            <f:convertNumber pattern="###,###,###.####" />
                        </h:outputLabel>
                    </small>
                </div>
            </div> 

        </div>
    </ui:composition>
</html>
