<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="JV Actualization"></h:outputText>
        </ui:define>
        
        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>
                <li><a href="#">Joint Venture</a></li>
                <li class="active">Actualizing</li>
            </ol>
        </ui:define>


        <ui:define name="page-title">
            <h:outputText value="JV ACTUALIZING"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_jv-prod-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="jvProdListForm">                 
                <div class="row">
                    <div class="col-md-3 m-b-10">
                        <label>Year</label>
                        <h:selectOneMenu id="periodYear" value="#{jvActualController.periodYear}" class="form-control input-sm m-b-10" >                                              
                            <f:selectItems value="#{generalController.yearsAvailableSelectOne}" var="year" itemValue="#{year.value}"/>   
                            <f:ajax listener="#{generalController.yearChanged}" event="change" render="periodMonth"/>     
                        </h:selectOneMenu>
                    </div>
                    <div class="col-md-3 m-b-10">
                        <label>Month</label>
                        <h:selectOneMenu id="periodMonth" value="#{jvActualController.periodMonth}" class="form-control input-sm m-b-10">                                              
                            <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                            <f:selectItems value="#{generalController.months}" var="mth" itemValue="#{mth.month}" itemLabel="#{mth.monthStr}" />   
                            <f:ajax />     
                        </h:selectOneMenu>
                    </div>
                    <div class="col-md-3 m-b-10">
                        <label>Fiscal Arrangement</label>
                        <h:selectOneMenu id="contract" value="#{jvActualController.currentFiscalArrangement}" class="form-control input-sm m-b-10">                                              
                            <f:selectItems value="#{fiscalController.fiscalSelectOptions}" />   
                            <f:ajax />     
                        </h:selectOneMenu>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 m-b-10" id="button-tags">                       
                        <h:commandButton  value="Get Actuals From SAP"  class="btn m-r-5" disabled="true" >
                            <f:ajax event="click" render="prodTable msgs"  />
                        </h:commandButton>

                        <h:commandButton  value="Get Actuals"  class="btn m-r-5" >
                            <f:ajax listener="#{jvActualController.loadProductions}" event="click"
                                    execute="periodYear periodMonth"
                                    render="actual_panel prodTable msgs"/>

                        </h:commandButton>
                    </div>
                </div>

                <h:panelGroup id="actual_panel">

                    <h:dataTable id="prodTable" var="prod" value="#{jvActualController.productions}" 
                                 class="table table-bordered table-hover tile">                                                 
                        <h:column>                                                        
                            <f:facet name="header">
                                <h:outputText value="Asset Stream/Crude Type"/>
                            </f:facet>
                            <h:outputText value="#{prod.contract.fiscalArrangement.title}/#{prod.contract.crudeType.code}"/>                                                        
                        </h:column>                            
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Gross Prod" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.grossProduction}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>                            
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Own Entitlement" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.ownShareEntitlement}" >
                                <f:convertNumber maxFractionDigits="2" groupingUsed="true" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Partner Entitlement" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.partnerShareEntitlement}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opening Stock" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.openingStock}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Availability" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.availability}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Lifting (Nom)" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.lifting}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Lifting Cargoes" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.cargos}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Closing Stock" />
                            </f:facet>                                                            
                            <h:outputText value="#{prod.closingStock}">
                                <f:convertNumber pattern="###,###,###.####" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <div class="btn-group">
                                <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" jsf:id="btnList"> 
                                    <li>
                                        <h:commandLink  pt:data-target="#JvActualCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                            <span class="icon">&#61943;</span>
                                            #{bundle.Create}
                                            <f:ajax event="click" render="JvActualCreateForm" listener="#{jvActualController.prepareCreate}" />
                                        </h:commandLink>                                       
                                    </li>

                                    <li>
                                        <h:commandLink pt:data-target="#JvViewDlg" pt:look="warning" pt:data-toggle="modal">
                                            <span class="icon">&#61698;</span>
                                            #{bundle.View}
                                            <f:ajax event="click" render="JvViewForm" listener="#{jvActualController.setCurrentProduction(prod)}"/>
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink pt:data-target="#JvEditDlg" pt:look="warning" pt:data-toggle="modal">
                                            <span class="icon">&#61952;</span>
                                            #{bundle.Edit}
                                            <f:ajax event="click" render="JvEditForm" listener="#{jvActualController.setCurrentProduction(prod)}"/>
                                        </h:commandLink>
                                    </li> 
                                    <li class="divider"></li>
                                    <li>
                                        <h:commandLink>
                                            <span class="icon">&#61918;</span>
                                            #{bundle.Delete}
                                            <f:ajax render="jvProdListForm prodTable msgs" listener="#{jvActualController.destroy(prod)}"/>
                                        </h:commandLink>
                                    </li> 
                                </ul>
                            </div>
                        </h:column>

                        <f:facet name="footer">                                                                
                            <button jsf:id="createButton" look="warning" data-target="#JvActualCreateDlg" data-toggle="modal" class="btn m-r-5">
                                <span class="icon">&#61943;</span>
                                #{bundle.Create}
                                <f:ajax event="click" render="JvActualCreateForm" listener="#{jvActualController.prepareCreate}" />                                    
                            </button>

                            <button jsf:id="viewButton" look="warning" data-target="#JvViewDlg" data-toggle="modal" class="btn m-r-5">
                                <span class="icon">&#61698;</span>
                                #{bundle.View}
                                <f:ajax event="click" render="JvViewForm" />
                            </button>
                            <button jsf:id="editButton" look="warning" data-target="#JvEditDlg" data-toggle="modal" class="btn m-r-5">
                                <span class="icon">&#61952;</span>                                    
                                #{bundle.Edit}
                                <f:ajax event="click" render="JvEditForm" />
                            </button>

                            <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty jvActualController.currentProduction}">
                                <span class="icon">&#61918;</span>
                                #{bundle.Delete}
                                <f:ajax render="jvProdListForm prodTable msgs" listener="#{jvActualController.destroy}"/>
                            </button>

                        </f:facet>
                    </h:dataTable>

                </h:panelGroup>

            </h:form>

            <ui:include src="_actualize-create.xhtml"/>            
            <ui:include src="_actualize-edit.xhtml"/>
            <ui:include src="_actualize-view.xhtml"/>
        </ui:define>

        <ui:define name="page-stat"> 
            <ui:include src="_actualize-stat.xhtml"/>
        </ui:define>

    </ui:composition>



</html>
