<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>
        <div class="modal fade" id="IocViewDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">View IOC</h4>
                    </div>
                    <h:form id="IocViewForm">
                        <div class="modal-body">
                            <h:panelGroup id="IocViewPanel" rendered="#{companyController.selected != null}">
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="#{bundle.CreateCompanyLabel_name}" for="name" />
                                        <h:inputText id="name" value="#{companyController.selected.name}" title="#{bundle.CreateCompanyTitle_name}" class="form-control input-sm m-b-10"/>
                                    </div>
                                </div>
                            </h:panelGroup>

                        </div>
                        <div class="modal-footer">
                            <h:commandButton value="#{bundle.Close}" pt:data-dismiss="modal" class="btn btn-sm"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div> 

    </ui:composition>
</html>
