<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="Joint Venture Dashboard"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="#">Home</a></li>               
                <li class="active">PSC</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="PSC"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_psc-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <ui:include src="_psc-content.xhtml"/>
        </ui:define>

        <ui:define name="page-stat"> 
            <ui:include src="_psc-stat.xhtml"/>
        </ui:define>

    </ui:composition>



</html>
