<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TerminalEditDlg" widgetVar="TerminalEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTerminalTitle}">
            <h:form id="TerminalEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{terminalController.selected != null}">
                        <p:outputLabel value="#{bundle.TerminalCode}" for="code" />
                        <p:inputText id="code" value="#{terminalController.selected.code}" title="#{bundle.EditTerminalTitle_code}" />
                        <p:outputLabel value="#{bundle.TerminalName}" for="name" />
                        <p:inputText id="name" value="#{terminalController.selected.name}" title="#{bundle.EditTerminalTitle_name}" />
                        <p:outputLabel value="#{bundle.LineFillVolume}" for="lineFillVolume" />
                        <p:inputText id="lineFillVolume" value="#{terminalController.selected.lineFillVolume}" title="#{bundle.EditTerminalTitle_lineFillVolume}" />
                        <p:outputLabel value="#{bundle.DeadStockVolume}" for="deadStockVolume" />
                        <p:inputText id="deadStockVolume" value="#{terminalController.selected.deadStockVolume}" title="#{bundle.EditTerminalTitle_deadStockVolume}" />
                        <p:outputLabel value="#{bundle.CrudeType}" for="crudeType" />
                        <p:selectOneMenu id="crudeType" value="#{terminalController.selected.crudeType}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{crudeTypeController.itemsAvailableSelectOne}"
                                           var="crudeTypeItem"
                                           itemValue="#{crudeTypeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{terminalController.update}" value="#{bundle.Save}" update="display,:TerminalListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TerminalEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TerminalEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
