<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="Terminal List"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">Terminal</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="TERMINAL"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_terminal-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="terminalListForm"> 
                <!-- Multi Column -->
                <div jsf:id="terminalPanel" class="row">
                    <div class="col-md-9 m-b-9">
                        <h:dataTable id="terminalTable" var="terminal" value="#{terminalController.items}" 
                                     class="table table-bordered table-hover tile">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListTerminalTitle_code}"/>
                                </f:facet>
                                <h:outputText value="#{terminal.code}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.TerminalName}"/>
                                </f:facet>
                                <h:outputText value="#{terminal.name}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.LineFillVolume}"/>
                                </f:facet>
                                <h:outputText value="#{terminal.lineFillVolume}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.DeadStockVolume}"/>
                                </f:facet>
                                <h:outputText value="#{terminal.deadStockVolume}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.CrudeType}"/>
                                </f:facet>
                                <h:outputText value="#{terminal.crudeType}"/>
                            </h:column>
                            <h:column>
                                <div class="btn-group">
                                    <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" jsf:id="btnList">
                                        <li>
                                            <h:commandLink  pt:data-target="#TerminalCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                                <span class="icon">&#61943;</span>
                                                #{bundle.Create}
                                                <f:ajax event="click" render="TerminalCreateForm" listener="#{terminalController.prepareCreate}" />
                                            </h:commandLink>                                       
                                        </li>

                                        <li>
                                            <h:commandLink pt:data-target="#TerminalViewDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61698;</span>
                                                #{bundle.View}
                                                <f:ajax event="click" render="TerminalViewForm" listener="#{terminalController.setSelected(terminal)}"/>
                                            </h:commandLink>
                                        </li>
                                        <li><h:commandLink pt:data-target="#TerminalEditDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61952;</span>
                                                #{bundle.Edit}
                                                <f:ajax event="click" render="TerminalEditForm" listener="#{terminalController.setSelected(terminal)}"/>
                                            </h:commandLink>
                                        </li>  
                                        <li>
                                            <h:commandLink>
                                                <span class="icon">&#61918;</span>
                                                #{bundle.Delete}
                                                <f:ajax render="terminalListForm terminalTable msgs" listener="#{terminalController.destroy(terminal)}"/>
                                            </h:commandLink>
                                        </li> 
                                    </ul>
                                </div>
                            </h:column>

                            <f:facet name="footer">                                                                
                                <button jsf:id="createButton" look="warning" data-target="#TerminalCreateDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61943;</span>
                                    #{bundle.Create}
                                    <f:ajax event="click" render="TerminalCreateForm" listener="#{terminalController.prepareCreate}" />                                    
                                </button>

                                <button jsf:id="viewButton" look="warning" data-target="#TerminalViewDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61698;</span>
                                    #{bundle.View}
                                    <f:ajax event="click" render="TerminalViewForm" />
                                </button>
                                <button jsf:id="editButton" look="warning" data-target="#TerminalEditDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61952;</span>                                    
                                    #{bundle.Edit}
                                    <f:ajax event="click" render="TerminalEditForm" />
                                </button>

                                <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty terminalController.selected}">
                                    <span class="icon">&#61918;</span>
                                    #{bundle.Delete}
                                    <f:ajax render="terminalTable" listener="#{terminalController.destroy}"/>
                                </button>

                            </f:facet>
                        </h:dataTable>
                    </div>
                </div>
            </h:form>
            <ui:include src="_terminal-create.xhtml"/>           
            <ui:include src="_terminal-edit.xhtml"/>
            <ui:include src="_terminal-view.xhtml"/>
        </ui:define>

        <!--        <ui:define name="page-stat"> 
                    <ui:include src="_terminal-stat.xhtml"/>
                </ui:define>-->

    </ui:composition>



</html>
