<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TerminalViewDlg" widgetVar="TerminalViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTerminalTitle}">
            <h:form id="TerminalViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{terminalController.selected != null}">
                        <h:outputText value="#{bundle.TerminalCode}"/>
                        <h:outputText value="#{terminalController.selected.code}" title="#{bundle.ViewTerminalTitle_code}"/>
                        <h:outputText value="#{bundle.TerminalName}"/>
                        <h:outputText value="#{terminalController.selected.name}" title="#{bundle.ViewTerminalTitle_name}"/>
                        <h:outputText value="#{bundle.LineFillVolume}"/>
                        <h:outputText value="#{terminalController.selected.lineFillVolume}" title="#{bundle.ViewTerminalTitle_lineFillVolume}"/>
                        <h:outputText value="#{bundle.DeadStockVolume}"/>
                        <h:outputText value="#{terminalController.selected.deadStockVolume}" title="#{bundle.ViewTerminalTitle_deadStockVolume}"/>
                        <h:outputText value="#{bundle.CrudeType}"/>
                        <h:outputText value="#{terminalController.selected.crudeType}" title="#{bundle.ViewTerminalTitle_crudeType}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TerminalViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
