<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition>
        <div class="modal fade" id="PriceCreateDlg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Realizable Prices</h4>
                    </div>
                    <h:form id="PriceCreateForm">
                        <div class="modal-body">
                            <h:panelGroup id="PriceCreatePanel" rendered="#{priceController.selected != null}">
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="#{bundle.Year}" for="periodYear" />
                                        <h:inputText id="periodYear" value="#{priceController.selected.pricePK.periodYear}" title="#{bundle.Year}" class="form-control input-sm m-b-10"/>
                                    </div>
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="#{bundle.Month}" for="periodMonth" />
                                        <h:inputText id="periodMonth" value="#{priceController.selected.pricePK.periodMonth}" title="#{bundle.Month}" class="form-control input-sm m-b-10"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 m-b-15">
                                        <h:outputLabel value="#{bundle.Price}" for="price" />
                                        <h:inputText id="price" value="#{priceController.selected.realizablePrice}" title="#{bundle.Price}" class="form-control input-sm m-b-10"/>
                                    </div>
                                </div>
                            </h:panelGroup>

                        </div>
                        <div class="modal-footer">
                            <h:commandButton value="#{bundle.Save}" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{priceController.create}" execute="periodYear periodMonth price" render="priceListForm priceTable msgs"/>
                            </h:commandButton>
                            <h:commandButton value="#{bundle.Cancel}" immediate="true" pt:data-dismiss="modal" class="btn btn-sm">
                                <f:ajax listener="#{priceController.cancel}" render="priceListForm priceTable msgs"/>
                            </h:commandButton>
                        </div>
                    </h:form>
                </div>
            </div>
        </div> 

    </ui:composition>
</html>
