<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="/cosm-template.xhtml">

        <ui:define name="title">
            <h:outputText value="Price"></h:outputText>
        </ui:define>

        <ui:define name="breadcrumb">
            <ol class="breadcrumb hidden-xs">
                <li><a href="../../index.xhtml">Home</a></li>  
                <li><a href="../index.xhtml">Admin</a></li>
                <li class="active">Price</li>
            </ol>
        </ui:define>

        <ui:define name="page-title">
            <h:outputText value="Prices"></h:outputText>
        </ui:define>

        <ui:define name="side-menu">
            <ui:include src="_price-menu.xhtml"/>
        </ui:define>

        <ui:define name="content-area">  
            <h:form id="priceListForm"> 
                <!-- Multi Column -->
                <div jsf:id="pricePanel" class="row">
                    <div class="col-md-7 m-b-7">
                        <h:dataTable id="priceTable" var="price" value="#{priceController.items}" 
                                     class="table table-bordered table-hover tile">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.Year}"/>
                                </f:facet>
                                <h:outputText value="#{price.pricePK.periodYear}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.Month}"/>
                                </f:facet>
                                <h:outputText value="#{price.pricePK.periodMonth}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.Price}"/>
                                </f:facet>
                                <h:outputText value="#{price.realizablePrice}">
                                    <f:convertNumber pattern="###,###,###.####" />
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <div class="btn-group">
                                    <button jsf:id="action" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" jsf:id="btnList">
                                        <li>
                                            <h:commandLink  pt:data-target="#PriceCreateDlg" pt:look="warning" pt:data-toggle="modal" >
                                                <span class="icon">&#61943;</span>
                                                #{bundle.Create}
                                                <f:ajax event="click" render="PriceCreateForm" listener="#{priceController.prepareCreate}" />
                                            </h:commandLink>                                       
                                        </li>

                                        <li>
                                            <h:commandLink pt:data-target="#PriceViewDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61698;</span>
                                                #{bundle.View}
                                                <f:ajax event="click" render="PriceViewForm" listener="#{priceController.setSelected(price)}"/>
                                            </h:commandLink>
                                        </li>
                                        <li><h:commandLink pt:data-target="#PriceEditDlg" pt:look="warning" pt:data-toggle="modal">
                                                <span class="icon">&#61952;</span>
                                                #{bundle.Edit}
                                                <f:ajax event="click" render="PriceEditForm" listener="#{priceController.setSelected(price)}"/>
                                            </h:commandLink>
                                        </li>  
                                        <li>
                                            <h:commandLink>
                                                <span class="icon">&#61918;</span>
                                                #{bundle.Delete}
                                                <f:ajax render="priceListForm priceTable msgs" listener="#{priceController.destroy(price)}"/>
                                            </h:commandLink>
                                        </li> 
                                    </ul>
                                </div>
                            </h:column>

                            <f:facet name="footer">                                                                
                                <button jsf:id="createButton" look="warning" data-target="#PriceCreateDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61943;</span>
                                    #{bundle.Create}
                                    <f:ajax event="click" render="PriceCreateForm" listener="#{priceController.prepareCreate}" />                                    
                                </button>

                                <button jsf:id="viewButton" look="warning" data-target="#IocViewDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61698;</span>
                                    #{bundle.View}
                                    <f:ajax event="click" render="PriceViewForm" />
                                </button>
                                <button jsf:id="editButton" look="warning" data-target="#PriceEditDlg" data-toggle="modal" class="btn m-r-5">
                                    <span class="icon">&#61952;</span>                                    
                                    #{bundle.Edit}
                                    <f:ajax event="click" render="PriceEditForm" />
                                </button>

                                <button jsf:id="deleteButton" class="btn m-r-5" jsf:disabled="#{empty priceController.selected}">
                                    <span class="icon">&#61918;</span>
                                    #{bundle.Delete}
                                    <f:ajax render="priceTable" listener="#{priceController.destroy}"/>
                                </button>

                            </f:facet>
                        </h:dataTable>
                    </div>
                </div>
            </h:form>
            <ui:include src="_price-create.xhtml"/>           
            <ui:include src="_price-edit.xhtml"/>
            <ui:include src="_price-view.xhtml"/>
        </ui:define>

        <!--        <ui:define name="page-stat"> 
                    <ui:include src="_asset-stat.xhtml"/>
                </ui:define>-->

    </ui:composition>



</html>
